<!DOCTYPE html>
<html>
<head>
  <title>{{meta_title}}</title>
  {{> meta}}
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,600%7CRoboto+Slab:300,400' rel='stylesheet'
        type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{asset "css/uno-zen.css"}}"/>
  <link rel="stylesheet" href="/highlight/styles/tomorrow.css">
  <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}">
  {{ghost_head}}
</head>
<body class="{{body_class}}">
<div id="search-showing-content">
  <div id="search-form-close-button">
    <div id="search-form-close-button-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.021,13.435,1.414,24.042,0,22.628,10.607,12.021,0,1.414,1.414,0,12.021,10.607,22.628,0l1.414,1.414L13.435,12.021,24.042,22.628l-1.414,1.414Z"></path></svg>
    </div>
  </div>
  <div>
    <form style="text-align: center">
      <input type="search" id="search-field" placeholder="Type to search"/>
      <section id="search-results" style="text-align:center"></section>
    </form>
  </div>
</div>
<div id="search-showing-background"></div>
<header id="menu-button" class="expanded">
  <a><i id="menu-button-menu" class="icon icon-list"></i></a>
  <a><i id="menu-button-search" class="icon icon-search-1"></i></a>
</header>
{{> aside}}
<main>
  <section class="content">
    {{{body}}}
    {{> footer}}
  </section>
</main>
{{ghost_foot}}
<script src="/highlight/highlight.pack.js"></script>
<script>
  hljs.initHighlightingOnLoad();</script>
<script src="{{asset "js/uno-zen.vendor.js"}}" type="text/javascript" charset="utf-8"></script>
<script src="{{asset "js/uno-zen.common.js"}}" type="text/javascript" charset="utf-8"></script>
{{#is "post, page"}}
  <script src="{{asset "js/uno-zen.post.js"}}" type="text/javascript" charset="utf-8"></script>
  <script>
    $("#toc").toc({content: "#post-content", headings: "h1, h2, h3, h4, h5, h6"});
  </script>
{{/is}}
<script>
  var ghost_root_url = "http://localhost:3000/ghost/api/v3";
  var ghosthunter_key = "73450264d8c9e0ac804e3bbb82";
</script>
<script>
  if ('addEventListener' in document) {
    document.addEventListener('DOMContentLoaded', function(){
      FastClick.attach(document.body);
    }, false);
  }
</script>
{{> google-analytics}}
</body>
</html>
